* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --kriby-claro: #f48782;
    --kriby-oscuro: #c75c56;
    --altura-contenedor: 38rem;
    --anchura-contenedor: 38rem;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #6b6b6b;
    overflow: hidden;
    height: 100vh;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 999999999;
    /* background-color: rgba(0, 0, 0, 0.186); */
    backdrop-filter: blur(1px);
}

.pluma-conte {
    height: 20vw;
    width: 20vw;

    position: absolute;
    background-color: red;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}


.estrella {
    position: absolute;
    transition: .5s;
}

.estrella:hover {
    filter: opacity(0%);
}

@keyframes estrella {
    0%{
        filter: opacity(70%);
    }
    50%{
        filter: opacity(100%);
    }
    100%{
        filter: opacity(70%);
    }
}

.es-a1 {
    height: 30vw;
    width: 30vw;
    left: calc(90% - 15vw);
    animation: estrella 2s linear infinite;
}
.es-a2 {
    height: 10vw;
    width: 10vw;
    left: calc(60% - 5vw);
    animation: estrella 1s linear infinite;
}
.es-a3 {
    height: 5vw;
    width: 5vw;
    left: calc(80% - 10vw);
    top: calc(15% - 2.5vw);
    animation: estrella .5s linear infinite;
}

.es-a4 {
    height: 15vw;
    width: 15vw;
    top: calc(80% - 7.5vw);
    animation: estrella .1s linear infinite;
}

.es-a5 {
    height: 5vw;
    width: 5vw;
    left: calc(20% - 2.5vw);
    top: calc(20% - 2.5vw);
    animation: estrella .2s linear infinite;
}

.es-a6 {
    height: 8vw;
    width: 8vw;
    left: calc(85% - 4vw);
    top: calc(65% - 4vw);
    animation: estrella .1s linear infinite;
}

.brillo-estre {
    height: 50%;
    width: 50%;
    background-image: radial-gradient(circle, #ffffff, #ffffffaa, #77777700, #3b3b3b00, #00000000);
    border-radius: 50%;
    right: calc(50% - 25%);
    top: calc(50% - 25%);
    position: absolute;
}

.horizontal {
    height: 1%;
    width: 100%;
    background: radial-gradient(circle, #ffffff 50%, #00000000 100%);
    top: calc(50% - 0.5%);
    position: absolute;
}

.vertical {
    height: 100%;
    width: 1%;
    background: radial-gradient(circle, #ffffff 50%, #00000000 100%);
    right: calc(50% - 0.5%);
    position: absolute;
}


/* CENTRAR EL CONTENIDO */
.area {
    background: radial-gradient(circle, rgba(93,123,169,1) 17%, rgba(18,41,91,1) 70%, rgba(77,16,101,1) 97%);
    height: 100vh;
    width: 100vw;
    position: absolute;
}


.container {
    height: var(--altura-contenedor);
    width: var(--anchura-contenedor);
    left: calc(50% - 190px);
    top: calc(50% - 190px);
    position: absolute;
    
}

@media (max-width: 380px){
    .container {
        width: 100%;
        height: 100vw;
        background-color: darkgreen;
    }
}

.body-kirby {
    border: 3px solid #000;
    position: absolute;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    z-index: 10;
    clip-path: ellipse(65% 85% at 51% 0%);
}
.body-kirby-shadow {
    border: 3px solid #000;
    position: absolute;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: var(--kriby-oscuro);
    z-index: 9;
}

.container-eyes {
    position: absolute;
    right: calc(50% - 14%);
    top: calc(35% - 7.5%);
    height: 22%;
    width: 28%;
    /* background-color: cyan; *//* COLOR FONDO CONTENEDOR OJOS */
    position: absolute;
    transform: rotate(12deg);
    z-index: 50;
}

.container-eyes .eye {
    height: 100%;
    width: 39%;
    background-color: #000;
    position: absolute;
    border-radius: 42%;
    transform: rotate(4deg);
    border: 1px solid #000;
}

.container-eyes .eye-iz {
    right: 0;
}

.container-eyes .eye-dere {
    left: 0;
}

.container-eyes .eye .brillo-blanco {
    position: absolute;
    right: calc(50% - 30%);
    height: 45%;
    width: 60%;
    background-color: #fff;
    border-radius: 42%;
    z-index: 40;
}

.container-eyes .eye .brillo-azul {
    position: absolute;
    left: calc(88% - 50%);
    top: calc(98% - 40%);
    height: 40%;
    width: 50%;
    background-color: #000076;
    border-radius: 42%;
    z-index: 40;
}

.container-eyes .eye .brillo-celeste {
    height: 5%;
    width: 10%;
    left: calc(70% - 10%);
    top: calc(95% - 5%);
    position: absolute;
    border-radius: 50%;
    background-color: #4db8ff;
    z-index: 50;
}


.container-cachete {
    height: 6%;
    width: 70%;
    top: calc(48% - 3%);
    left: calc(49% - 35%);
    /* background-color: #ffffff9e; *//* COLOR FONDO CONTENEDOR CACHETES */
    position: absolute;
    transform: rotate(12deg);
    z-index: 50;
}

.container-cachete .cache {
    height: 80%;
    width: 10%;
    background-color: #ff594d;
    position: absolute;
    border-radius: 50%;
}

.container-cachete .cachete-iz {
    left: 0;
    left: calc(23% - 5%);
}

.container-cachete .cachete-dere {
    right: 0;
    right: calc(27% - 5%);
}

.container-cachete .cache div{
    height: 70%;
    width: 5%;
    background-color: #000000;
    border-radius: 10%;
    position: absolute;
    border-radius: 50%;
}

.a1 {
    left: calc(70% - 5%);
    top: calc(50% - 35%);
    transform: rotate(-40deg);
}
.a2 {
    left: calc(30% - 5%);
    transform: rotate(-40deg);
}

.boca {
    height: 3%;
    width: 2%;
    left: calc(45% - 1%);
    top: calc(55% - 1.5%);
    position: absolute;
    background-color: #000000;
    border-radius: 50%;
    transform: rotate(20deg);
    z-index: 50;
}


.mano {
    border-radius: 50%;
    
    position: absolute;
    background-color: #0000005a;
    z-index: 8;
}

.mano-iz {
    height: 30%;
    width: 30%;
    left: calc(-3% - 0%);
    top: calc(58% - 25%);
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    border: 3px solid #000;
    clip-path: ellipse(35% 43% at 28% 36%);
}

.mano-iz-shadow {
    height: 30%;
    width: 30%;
    left: calc(-3% - 0%);
    top: calc(58% - 25%);
    background-color: var(--kriby-oscuro);
    border: 3px solid #000;
    z-index: 7;
}

.mano-dere-shadow {
    height: 35%;
    width: 50%;
    right: calc(-3% - 0%);
    top: calc(65% - 25%);
    background-color: var(--kriby-oscuro);
    border: 3px solid #000;
    transform: rotate(40deg);
    z-index: 7;
}

.mano-dere {
    height: 35%;
    width: 50%;
    right: calc(-3% - 0%);
    top: calc(65% - 25%);
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    border: 3px solid #000;
    transform: rotate(40deg);
    clip-path: ellipse(27% 60% at 78% 2%);
}

.zapato {
    background-color: #ff0000;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    transform: rotate(40deg);
}

.zapato-iz {
    height: 55%;
    width: 36%;
    left: calc(53% - 30%);
    top: calc(95% - 30%);
    z-index: 7;
    clip-path: ellipse(42% 53% at 42% 41%);
}

.zapato-iz-shadow {
    height: 55%;
    width: 36%;
    left: calc(53% - 30%);
    top: calc(95% - 30%);
    z-index: 6;
    background-color: #8a0000;
}

.zapato-dere {
    height: 46%;
    width: 30%;
    right: calc(58% - 30%);
    top: calc(94% - 30%);
    transform: rotate(40deg);
    z-index: 5;
    background-color: #8a0000;
}


/* PELO */
/* .pelo-conte1 {
    height: 30%;
    width: 50%;
    position: absolute;
    bottom: 2%;
    left: -25%;
    transform: rotate(-20deg);
    z-index: 2;
}

.pelo-conte1-contorno {
    height: 100%;
    width: 100%;
    background-color: #000;
    animation: bu .8s linear infinite;
}

.pelo-conte1-cuerpo {
    height: 90%;
    width: 98%;
    top: calc(49% - 45%);
    right: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    animation: bu .8s linear infinite;
}

@keyframes bu {
    0%{
        clip-path: polygon(100% 0, 93% 15%, 86% 26%, 78% 36%, 64% 48%, 46% 51%, 33% 47%, 24% 34%, 17% 19%, 21% 38%, 25% 51%, 29% 60%, 36% 70%, 44% 80%, 53% 86%, 62% 89%, 72% 91%, 82% 88%, 90% 83%, 100% 74%);
    }
    15%{
        clip-path: polygon(100% 0, 91% 5%, 84% 9%, 75% 20%, 65% 34%, 47% 53%, 32% 53%, 22% 48%, 15% 37%, 18% 54%, 22% 60%, 28% 70%, 36% 78%, 44% 84%, 53% 86%, 63% 83%, 72% 76%, 83% 68%, 94% 66%, 100% 74%);
    }
    30% {
        clip-path: polygon(100% 0, 90% 2%, 82% 4%, 72% 9%, 62% 17%, 52% 40%, 36% 58%, 21% 59%, 14% 49%, 17% 63%, 22% 71%, 28% 76%, 35% 84%, 44% 87%, 56% 83%, 65% 73%, 74% 61%, 85% 56%, 95% 63%, 100% 74%);
    }
    50% {
        clip-path: polygon(100% 0, 89% 1%, 80% 1%, 70% 5%, 58% 9%, 44% 20%, 28% 51%, 21% 61%, 11% 65%, 18% 70%, 24% 75%, 32% 74%, 39% 67%, 45% 60%, 52% 55%, 63% 51%, 73% 49%, 84% 53%, 95% 63%, 100% 74%);

    }
    60% {
        clip-path: polygon(100% 0, 89% 1%, 80% 1%, 70% 5%, 58% 9%, 44% 20%, 29% 40%, 17% 65%, 14% 94%, 20% 78%, 24% 72%, 30% 67%, 36% 63%, 43% 60%, 52% 55%, 63% 51%, 73% 49%, 84% 53%, 95% 63%, 100% 74%);
    }
    100%{
        clip-path: polygon(100% 0, 93% 15%, 86% 26%, 78% 36%, 64% 48%, 46% 51%, 33% 47%, 24% 34%, 17% 19%, 21% 38%, 25% 51%, 29% 60%, 36% 70%, 44% 80%, 53% 86%, 62% 89%, 72% 91%, 82% 88%, 90% 83%, 100% 74%);
    }
}













.pelo-conte2 {
    height: 150%;
    width: 200%;

    position: absolute;
    top: -10%;
    left: -150%;

    z-index: 1;
}

.pelo-conte2-contorno {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 0);
    animation: bua 8s linear infinite;
    position: absolute;
}

.pelo-conte2-cuerpo{
    height: 99%;
    width: 99%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: .5%;
    right: 0;
    animation: bua 8s linear infinite;
    z-index: 1;
}

@keyframes bua {
    0%{
        clip-path: polygon(100% 17%, 99% 81%, 92% 86%, 84% 89%, 75% 92%, 64% 91%, 56% 85%, 46% 74%, 34% 67%, 25% 63%, 17% 60%, 8% 61%, 0 63%, 0 50%, 10% 41%, 17% 38%, 27% 33%, 37% 28%, 45% 25%, 57% 24%, 73% 28%, 83% 27%, 90% 23%, 95% 20%);
    }
    15%{
        clip-path: polygon(100% 17%, 99% 81%, 90% 83%, 81% 84%, 70% 85%, 61% 80%, 54% 75%, 45% 58%, 35% 51%, 25% 51%, 17% 50%, 7% 52%, 0 63%, 0 50%, 8% 36%, 13% 30%, 24% 22%, 34% 18%, 42% 16%, 55% 19%, 68% 30%, 77% 34%, 87% 35%, 95% 27%);
    }
    30% {
        clip-path: polygon(100% 17%, 99% 81%, 90% 83%, 81% 84%, 66% 89%, 55% 89%, 47% 87%, 35% 81%, 27% 77%, 18% 70%, 12% 63%, 4% 63%, 0 63%, 0 41%, 6% 35%, 13% 31%, 24% 26%, 34% 24%, 43% 27%, 53% 34%, 64% 34%, 75% 28%, 84% 25%, 92% 21%);
    }
    50% {
        clip-path: polygon(100% 14%, 99% 81%, 90% 73%, 76% 67%, 62% 70%, 52% 77%, 45% 84%, 34% 90%, 22% 89%, 15% 83%, 8% 74%, 4% 67%, 0 58%, 0 25%, 5% 30%, 13% 35%, 22% 37%, 31% 38%, 39% 32%, 50% 19%, 59% 9%, 72% 5%, 84% 3%, 93% 10%);

    }
    75% {
        clip-path: polygon(100% 17%, 99% 81%, 90% 83%, 81% 84%, 70% 85%, 61% 80%, 54% 75%, 45% 58%, 35% 51%, 25% 51%, 17% 50%, 7% 52%, 0 63%, 0 50%, 8% 36%, 13% 30%, 24% 22%, 34% 18%, 42% 16%, 55% 19%, 68% 30%, 77% 34%, 87% 35%, 95% 27%);
    }
    100%{
        clip-path: polygon(100% 17%, 99% 81%, 92% 86%, 84% 89%, 75% 92%, 64% 91%, 56% 85%, 46% 74%, 34% 67%, 25% 63%, 17% 60%, 8% 61%, 0 63%, 0 50%, 10% 41%, 17% 38%, 27% 33%, 37% 28%, 45% 25%, 57% 24%, 73% 28%, 83% 27%, 90% 23%, 95% 20%);
    }
}
 */