* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --kriby-claro: #f48782;
    --kriby-oscuro: #c75c56;
    --altura-contenedor: 38rem;
    --anchura-contenedor: 38rem;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #6b6b6b;
    overflow: hidden;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    z-index: 999999999;
    filter: blur(2px);
}

.pluma {
    height: 20vw;
    width: 20vw;
    background-color: chartreuse;
    position: absolute;
    
}

.pluma1 {
    height: 80%;
    width: 40%;
    background-color: rgb(255, 0, 0);
    border-radius: 50% 48% 42% 42% / 63% 63% 36% 37%;
}

.estrella {
    position: absolute;
    transition: .5s;
}

.estrella:hover {
    filter: opacity(0%);
}

@keyframes estrella {
    0%{
        filter: opacity(70%);
    }
    50%{
        filter: opacity(100%);
    }
    100%{
        filter: opacity(70%);
    }
}

.es-a1 {
    height: 30vw;
    width: 30vw;
    left: calc(90% - 15vw);
    animation: estrella 2s linear infinite;
}
.es-a2 {
    height: 10vw;
    width: 10vw;
    left: calc(60% - 5vw);
    animation: estrella 1s linear infinite;
}
.es-a3 {
    height: 5vw;
    width: 5vw;
    left: calc(80% - 10vw);
    top: calc(15% - 2.5vw);
    animation: estrella .5s linear infinite;
}

.es-a4 {
    height: 15vw;
    width: 15vw;
    top: calc(80% - 7.5vw);
    animation: estrella .1s linear infinite;
}

.es-a5 {
    height: 5vw;
    width: 5vw;
    left: calc(20% - 2.5vw);
    top: calc(20% - 2.5vw);
    animation: estrella .2s linear infinite;
}

.es-a6 {
    height: 8vw;
    width: 8vw;
    left: calc(85% - 4vw);
    top: calc(65% - 4vw);
    animation: estrella .1s linear infinite;
}

.brillo-estre {
    height: 50%;
    width: 50%;
    background-image: radial-gradient(circle, #ffffff, #ffffffaa, #77777700, #3b3b3b00, #00000000);
    border-radius: 50%;
    right: calc(50% - 25%);
    top: calc(50% - 25%);
    position: absolute;
}

.horizontal {
    height: 1%;
    width: 100%;
    background: radial-gradient(circle, #ffffff 50%, #00000000 100%);
    top: calc(50% - 0.5%);
    position: absolute;
}

.vertical {
    height: 100%;
    width: 1%;
    background: radial-gradient(circle, #ffffff 50%, #00000000 100%);
    right: calc(50% - 0.5%);
    position: absolute;
}


/* CENTRAR EL CONTENIDO */
.area {
    background: radial-gradient(circle, rgba(93,123,169,1) 17%, rgba(18,41,91,1) 70%, rgba(77,16,101,1) 97%);
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
}


.container {
    height: var(--altura-contenedor);
    width: var(--anchura-contenedor);
    margin: auto;
    
    position: relative;
    
}

@media (max-width: 380px){
    .container {
        width: 100%;
        height: 100vw;
        background-color: darkgreen;
    }
}

.body-kirby {
    border: 3px solid #000;
    position: absolute;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    z-index: 10;
    clip-path: ellipse(65% 85% at 51% 0%);
}
.body-kirby-shadow {
    border: 3px solid #000;
    position: absolute;
    left: calc(50% - 40%);
    top: calc(50% - 40%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: var(--kriby-oscuro);
    z-index: 9;
}

.container-eyes {
    position: absolute;
    right: calc(50% - 14%);
    top: calc(35% - 7.5%);
    height: 22%;
    width: 28%;
    /* background-color: cyan; *//* COLOR FONDO CONTENEDOR OJOS */
    position: absolute;
    transform: rotate(12deg);
    z-index: 50;
}

.container-eyes .eye {
    height: 100%;
    width: 39%;
    background-color: #000;
    position: absolute;
    border-radius: 42%;
    transform: rotate(4deg);
    border: 1px solid #000;
}

.container-eyes .eye-iz {
    right: 0;
}

.container-eyes .eye-dere {
    left: 0;
}

.container-eyes .eye .brillo-blanco {
    position: absolute;
    right: calc(50% - 30%);
    height: 45%;
    width: 60%;
    background-color: #fff;
    border-radius: 42%;
    z-index: 40;
}

.container-eyes .eye .brillo-azul {
    position: absolute;
    left: calc(88% - 50%);
    top: calc(98% - 40%);
    height: 40%;
    width: 50%;
    background-color: #000076;
    border-radius: 42%;
    z-index: 40;
}

.container-eyes .eye .brillo-celeste {
    height: 5%;
    width: 10%;
    left: calc(70% - 10%);
    top: calc(95% - 5%);
    position: absolute;
    border-radius: 50%;
    background-color: #4db8ff;
    z-index: 50;
}


.container-cachete {
    height: 6%;
    width: 70%;
    top: calc(48% - 3%);
    left: calc(49% - 35%);
    /* background-color: #ffffff9e; *//* COLOR FONDO CONTENEDOR CACHETES */
    position: absolute;
    transform: rotate(12deg);
    z-index: 50;
}

.container-cachete .cache {
    height: 80%;
    width: 10%;
    background-color: #ff594d;
    position: absolute;
    border-radius: 50%;
}

.container-cachete .cachete-iz {
    left: 0;
    left: calc(23% - 5%);
}

.container-cachete .cachete-dere {
    right: 0;
    right: calc(27% - 5%);
}

.container-cachete .cache div{
    height: 70%;
    width: 5%;
    background-color: #000000;
    border-radius: 10%;
    position: absolute;
    border-radius: 50%;
}

.a1 {
    left: calc(70% - 5%);
    top: calc(50% - 35%);
    transform: rotate(-40deg);
}
.a2 {
    left: calc(30% - 5%);
    transform: rotate(-40deg);
}

.boca {
    height: 3%;
    width: 2%;
    left: calc(45% - 1%);
    top: calc(55% - 1.5%);
    position: absolute;
    background-color: #000000;
    border-radius: 50%;
    transform: rotate(20deg);
    z-index: 50;
}


.mano {
    border-radius: 50%;
    
    position: absolute;
    background-color: #0000005a;
    z-index: 8;
}

.mano-iz {
    height: 30%;
    width: 30%;
    left: calc(-3% - 0%);
    top: calc(58% - 25%);
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    border: 3px solid #000;
    clip-path: ellipse(35% 43% at 28% 36%);
}

.mano-iz-shadow {
    height: 30%;
    width: 30%;
    left: calc(-3% - 0%);
    top: calc(58% - 25%);
    background-color: var(--kriby-oscuro);
    border: 3px solid #000;
    z-index: 7;
}

.mano-dere-shadow {
    height: 35%;
    width: 50%;
    right: calc(-3% - 0%);
    top: calc(65% - 25%);
    background-color: var(--kriby-oscuro);
    border: 3px solid #000;
    transform: rotate(40deg);
    z-index: 7;
}

.mano-dere {
    height: 35%;
    width: 50%;
    right: calc(-3% - 0%);
    top: calc(65% - 25%);
    background: linear-gradient(5deg, rgba(199,92,86,1) 0%, rgba(244,135,130,1) 52%);
    border: 3px solid #000;
    transform: rotate(40deg);
    clip-path: ellipse(27% 60% at 78% 2%);
}

.zapato {
    background-color: #ff0000;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    transform: rotate(40deg);
}

.zapato-iz {
    height: 55%;
    width: 36%;
    left: calc(53% - 30%);
    top: calc(95% - 30%);
    z-index: 7;
    clip-path: ellipse(42% 53% at 42% 41%);
}

.zapato-iz-shadow {
    height: 55%;
    width: 36%;
    left: calc(53% - 30%);
    top: calc(95% - 30%);
    z-index: 6;
    background-color: #8a0000;
}

.zapato-dere {
    height: 46%;
    width: 30%;
    right: calc(58% - 30%);
    top: calc(94% - 30%);
    transform: rotate(40deg);
    z-index: 5;
    background-color: #8a0000;
}